* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div.info-card {
    margin: 20px;
    display: inline-flex;
    border: 1px solid grey;
}

img.info-card-image {
    display: inline-block;
    width: 175px;
    height: 175px;
}

section.info-card-description {
    display: inline-block;
    position: relative;
    background-color: #EEEEEE;
}

h2.info-card-title {
    padding: 5px;
    background-color: #43aa8b;
    color: white;
    text-align: center;
}

p.info-card-category, p.info-card-area, p.info-card-tags {
    padding: 3px 10px;
}

button.info-card-button {
    cursor: pointer;
    position: absolute;
    width: 120px;
    height: 60px;
    bottom: -30px;
    right: -30px;
    padding: 10px 20px;
    border: none;
    background-color: #FF6F59;
    margin-left: 5px;
    color: white;
    border: 1px solid grey;
}