.lists {
    margin: 20px 0;
    padding: 5px;
    text-align: center;
}

.list-btn {
    margin: 5px;
    text-decoration: none;
    color: black;
}

.list-btn:hover {
    color: $color-base;
}

.lists-category,
.lists-area {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.lists-title {
    margin: 5px;
    margin-bottom: 20px;
}

@media (min-width: 1000px) {
    .lists {
        text-align: left;
    }
}
