.lists {
    margin: 20px 0;
    padding: 5px;
}

.list-btn {
    margin: 5px;
    text-decoration: none;
    color: black;
}

.list-btn:hover {
    font-size: 24px;
    color: $color-base;
}

.lists-category,
.lists-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.lists-title {
    text-align: center;
    margin-bottom: 20px;
}
