@mixin recipe-card-section {
    background-color: $color-recipe-card-bg;
    border: 1px solid $color-recipe-card-bg;
    border-radius: 10px;
    opacity: 0.95;
    padding: 10px;
}

@mixin background-img($url) {
    background-image: url($url);
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}

@mixin small-icon-before($url) {
    content: url($url);
    margin-right: 10px;
}

@mixin search-card-border {
    border: 1px solid $color-search-card-border;
}

@mixin button-colors {
    color: $color-outline-text;
    background-color: $color-buttons;
}
