@media (min-width: 500px) {
    div.recipe-card {
        display: grid;
        .recipe-card-details {
            font-size: 125%;
            padding: 20px;
            text-align: center;
        }
        .recipe-card-image {
            width: 100%;

        }
        .recipe-card-ingredients {
            padding: 20px;
            .recipe-card-ingredients-title {
                text-decoration: underline;
                &::before {
                    content: url('../scss/groceries.png');
                    margin-right: 10px;
                }
            }
            .recipe-card-ingredients-list {
                li {
                    margin-top: 5px;
                }
            }
        }
        .recipe-card-instructions {
            padding: 20px;
            .recipe-card-instructions-title {
                text-decoration: underline;
                &::before {
                    content: url('../scss/book.png');
                    margin-right: 10px;
                }
            }
            .recipe-card-instructions-list {
                li {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media (min-width: 501px) {
    div.recipe-card {
    .recipe-card-image {
        width: 400px;

    }   
}
}

/*
            <div className="recipe-card">
                <section className="recipe-card-details">
                <h2 className="recipe-card-title">{this.props.meal.strMeal}</h2>
                    <small>{this.props.meal.strArea}, {this.props.meal.strCategory}</small>
                </section>
                <img className="recipe-card-image" src={this.props.meal.strMealThumb} alt={this.props.meal.strMeal}/>
                <section className="recipe-card-ingredients">
                    <h3 className="recipe-card-ingredients-title">Ingredients</h3>
                    <ul className="recipe-card-ingredients-list">
                        {this.ingredientsWithMeasurements}
                    </ul>
                </section>

                <section className="recipe-card-instructions">
                    <h3 className="recipe-card-instructions-title">Instructions</h3>
                    <ol className="recipe-card-instructions-list">
                        {this.instructions}
                    </ol>
                </section>
            </div>

*/
