.recipe-list-section {
    max-width: 1600px;
    margin: 0 auto;
}

.recipe-list-section-message {
    text-align: center;
}

.recipe-list-section-meals-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
