div.search-card {
    @include search-card-border;
    width: 400px;
    word-wrap: break-word;
    margin: 20px;
    display: inline-flex;

    img.search-card-image {
        width: 175px;
        height: 175px;
    }

    section.search-card-description {
        width: 223px;
        position: relative;
        background-color: $color-outline-text;

        h2.search-card-title {
            padding: 10px;
            background-color: $color-primary;
            color: $color-outline-text;
            font-size: 16px;
            text-align: center;
        }

        p.search-card-info {
            padding: 3px 10px;
            font-size: 14px;
        }

        button.search-card-button {
            @include search-card-border;
            @include button-colors;
            font-size: 90%;
            position: absolute;
            cursor: pointer;
            width: 100px;
            height: 50px;
            bottom: -20px;
            right: -20px;
            padding: 10px;
            &:hover {
                animation-name: highlight;
                animation-duration: 0.3s;
                animation-fill-mode: forwards;
            }
        }
    }
}
