@media (min-width: 500px) {
    div.info-card {
        @include search-card-border;
        width: 400px;
        word-wrap: break-word;
        margin: 20px;
        display: inline-flex;

        img.info-card-image {
            width: 175px;
            height: 175px;
        }

        section.info-card-description {
            width: 223px;
            position: relative;
            background-color: $color-outline-text;

            h2.info-card-title {
                padding: 10px;
                background-color: $color-primary;
                color: $color-outline-text;
                font-size: 16px;
                text-align: center;
            }
            
            p.info-card-category, p.info-card-area, p.info-card-tags {
                padding: 3px 10px;
                font-size: 14px;
            }

            button.info-card-button {
                @include search-card-border;
                @include button-colors;
                font-size: 90%;
                position: absolute;
                cursor: pointer;
                width: 100px;
                height: 50px;
                bottom: -20px;
                right: -20px;
                padding: 10px;
                &:hover {
                    animation-name: highlight;
                    animation-duration: 0.3s;
                    animation-fill-mode: forwards; 
                }
            }
        }
    }
}
