.top-bar {
    height: 100px;
    background-color: $color-base;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
}

.top-bar-initials {
    font-family: $font-logo;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.top-bar-title {
    font-size: 22px;
}

//Add hover effects
