.top-page {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    min-height: 300px;
}

.top-page-initials {
    font-family: $font-logo;
    font-size: 30px;
    text-decoration: none;
    color: #eee;
    display: inline-block;
}

.top-page-title {
    margin-bottom: 20px;
    font-size: 50px;
}

//Add hover effects

.top-page-initials:hover {
    transform: scale(1.1);
}

html {
    padding: 20px;
}

.divider {
    height: 50px;
    background-color: $color-base;
    margin: 50px 0;
}

.top-page-description {
    opacity: 0.8;
    line-height: 23px;
}
@media (min-width: 1000px) {
    .main-header {
        display: flex;
        justify-content: space-between;
    }
    .top-page-description {
        font-size: 20px;
        line-height: 25px;
        padding-right: 50px;
    }
}
