ul li, ol li {    
    margin-left: 50px;
}

#main-window {
    background-image: url('../images/bg-image-2.jpg');
    background-size: cover;
    min-height: 100vh;
}

.bg-image {
    background-image: url('../images/bg-image-1.jpg');
    background-size: cover;
    min-height: 100vh;  
}