@import url("https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
//Header
$font-logo: "Bungee Shade", cursive;
$font-general: "Playfair Display", serif;

//Colors
$color-base: rgb(39, 174, 96);
$color-black-box-bg: rgba(0, 0, 0, 0.7);
$color-white-text: white;
$color-white-text-opac: rgba(255, 255, 255, 0.8);
$color-black-linear-grad: rgba(0, 0, 0, 0.5);
