@import url("https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
//Header
$font-logo: "Bungee Shade", cursive;
$font-general: "Playfair Display", serif;

//Colors
$color-base: rgb(39, 174, 96);
